.search-wrapper{

position:relative;

width:100%;

}

.search-wrapper input{

width:100%;

padding:20px 24px;

border:none;

border-radius:18px;

background:#18181b;

color:white;

font-size:1rem;

outline:none;

transition:.2s;

}

.search-wrapper input:focus{

box-shadow:0 0 0 2px #d7a447;

}