.navbar {
  padding: 28px 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.brand {
  display: flex;
  align-items: center;

  gap: 18px;
}


.brand h2 {
  font-size: 1.55rem;

  font-weight: 700;

  letter-spacing: -0.03em;
}


.brand span {
  color: #505050;
}


.brand p {
  color: #8d8d8d;

  font-size: 0.95rem;
}


.brand-link {
  text-decoration: none;

  color: inherit;
}


.navbar-links {
  display: flex;

  align-items: center;

  gap: 20px;
}


.navbar-links a {
  text-decoration: none;

  color: inherit;

  font-weight: 600;
}