.navbar {
  padding: 28px 0 16px;

  display: flex;
}

.brand {
  display: flex;

  align-items: center;

  gap: 18px;
}

.brand h2 {
  font-size: 1.55rem;

  font-weight: 700;

  letter-spacing: -.03em;
}

.brand span {
  color: #505050;
}

.brand p {
  color: #8d8d8d;

  font-size: .95rem;
}