.search-dropdown{

position:absolute;

top:100%;

left:0;

right:0;

margin-top:10px;

background:#18181b;

border-radius:18px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.35);

z-index:100;

}

.search-result{

width:100%;

padding:18px 22px;

background:none;

border:none;

color:white;

cursor:pointer;

text-align:left;

transition:.2s;

}

.search-result:hover{

background:#26262b;

}

.search-result div{

display:flex;

justify-content:space-between;

align-items:center;

}

.search-result small{

opacity:.55;

text-transform:capitalize;

}