.surprise-page{

max-width:420px;

margin:auto;

text-align:center;

}

.surprise-btn{

margin-top:32px;

padding:16px 30px;

border:none;

border-radius:16px;

background:#d7a447;

color:white;

font-size:1rem;

font-weight:600;

cursor:pointer;

transition:.2s;

}

.surprise-btn:hover{

background:#bf9038;

}