.cocktail-day{

max-width:420px;

margin:40px auto;

}

.featured-header{

text-align:center;

margin-bottom:40px;

}

.featured-date{

color:#d7a447;

font-weight:600;

margin-bottom:10px;

}

.featured-header h2{

font-size:2rem;

margin-bottom:14px;

}

.featured-description{

max-width:600px;

margin:auto;

opacity:.75;

line-height:1.8;

}

.featured-info{

display:flex;

justify-content:center;

gap:28px;

margin-top:24px;

font-weight:600;

color:#d7a447;

flex-wrap:wrap;

font-size:1rem;

}